@model EFDbFirstApproachExample.Models.Product
    @using EFDbFirstApproachExample.HtmlHelpers
@{
    ViewBag.Title = "Create Product";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Create Product</h2>
@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
<div class="form-row">
    <div class="form-group col-md-6">
        @Html.LabelFor(t => t.ProductName)
        @Html.TextBoxFor(t => t.ProductName , new { @class = "form-control", placeholder = "Product Name" })
        @Html.ValidationMessageFor(t =>t.ProductName)
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(t => t.Price)
        @Html.TextBoxFor(t => t.Price, new { @class = "form-control", placeholder = "Price" })
        @Html.ValidationMessageFor(t => t.Price)
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        @Html.LabelFor(t => t.DateOfPurchase)
        @Html.TextBoxFor(t => t.DateOfPurchase, new { @class = "form-control", placeholder = "Date Of Purchase " })

    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(t => t.AvailabilityStatus,new { @class = "form-check-label"} )

        @*@Html.DropDownListFor(t =>t.AvailabilityStatus, new List<SelectListItem>() {
         new SelectListItem { Text = "In Stock", Value= "InStock" },
        new SelectListItem{Text= "Out of Stock", Value= "OutOfStock" }}, "Please Select", new { @class = "form-control"})*@

        @Html.RadioButtonFor(t => t.AvailabilityStatus, "InStock", new { @class = "form-check-imput" })In Stock
        @Html.RadioButtonFor(t => t.AvailabilityStatus, "OutOfStock", new { @class = "form-check-imput" }) Out Of Stock


    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        @Html.LabelFor(t => t.CategoryID)
        @Html.DropDownListFor(t => t.CategoryID, new SelectList(ViewBag.Categories, "CategoryID", "CategoryName"), "Please Select", new { @class = "form-control" })
        @Html.ValidationMessageFor(temp => temp.CategoryID)


    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(temp => temp.BrandID)
        @Html.DropDownListFor(temp => temp.BrandID, new SelectList(ViewBag.Brands, "BrandID", "BrandName"), "Please Select", new { @class = "form-control" })
        @Html.ValidationMessageFor(temp => temp.BrandID)
    </div>
</div>
<div class="form-group">
    <label for="Image">Image</label>
    @Html.File("form-control-file" )

</div>
<div class="form-group">
    <div class="form-check">
       @Html.CheckBoxFor(t =>t.Active.Value, new { @class = "form-check-input", value = "true" })
       @Html.LabelFor(t =>t.Active, new { @class = "form-check-label" })

    </div>
</div>
@Html.ValidationSummary()
<button type="submit" class="btn btn-success">Create</button>

<a class="btn btn-danger" href="/products/index">Cancel</a>
}



